<header>
  <div class="container">
    <%= link_to root_path, class: 'title_link' do %>
      <h1>Codeplay</h1>
    <% end %>

    <nav>
      <span class="nav_item">
        <%= link_to 'Cursos', courses_path %>
      </span class="nav_item"> | 

      <span class="nav_item">
        <%= link_to 'Professores', teachers_path %>
      </span class="nav_item">
    </nav>
  </div>

  <% if user_signed_in? %>
    <p>
      <%= current_user.email %>
    </p>

    <p>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    </p>
  <% else %>
    <p>
      <%= link_to t('register_me'), new_user_registration_path %>
    </p>

    <p>
      <%= link_to t('log_into_account'), new_user_session_path %>
    </p>
  <% end %>
  <hr>
</header>
