<%= link_to t('back'), course_path %>

<h2>Curso: <%= @course.name %></h2>

<p>
  Aula: <%= @lesson.name %>
</p>

<p>
  <%= t('lessons.duration', count: @lesson.duration)  %>
</p>

<p>
  <%= @lesson.content  %>
</p>

<h3>Conteudo do curso</h3>
<% @lesson.course.lessons.each do |lesson| %>
  <p>
    <%= link_to lesson.name, course_lesson_path(@course, lesson) %>
  </p>
<% end %>
