<%= form_with model: teacher, local: true do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :bio %>
    <%= f.text_area :bio, size: "30x1" %>
  </p>

  <p>
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
  </p>

  <p><%= f.submit %></p>
<% end %>