<%= link_to t('back'), root_path %>

<p><%= link_to t('.title'), new_teacher_path %></p>

<% if @teachers.empty? %>
  <%= t('no_registered_teacher') %>
<% end %>

<% @teachers.each do |teacher| %>

  <h2>
    <%= link_to teacher.name, teacher %>
  </h2>

  <p>
    <%= teacher.email %>
  </p>

  <p>
    <%= link_to t('.edit_teacher'), edit_teacher_path(teacher) %>
  </p>

  <p id='del-<%= teacher.id %>'>
    <%= link_to t('.del_teacher'), teacher_path(teacher), method: :delete %>
  </p>
<% end %>
