<%= link_to t('back'), teachers_path %>

<% if @teacher %>
  <h2>
    <%= @teacher.name %>
  </h2>

  <p>
    <%= @teacher.email %>
  </p>

  <p>
    <%= @teacher.bio %>
  </p>

  <% if @teacher.profile_picture.attached? %>
    <%= image_tag(@teacher.profile_picture) %>
  <% end %>

<% else %>
  <p>
    <%= t('teacher_not_available') %>
  </p>
<% end %>
