<p><%= link_to t('back'), root_path %></p>

<p><%= link_to t('.title'), new_course_path %></p>

<% if @courses.empty? %>
  <%= t('courses_not_available') %>
<% end %>

<div class="container_list">
  <% @courses.each do |course|%>
    <div class="item">
      <h2>
        <%= link_to course.name, course %>
      </h2>

      <p>
        <%= course.description %>
      </p>

      <p>
        <%= number_to_currency course.price %>
      </p>

      <p>
        <%= link_to t('.edit_course'), edit_course_path(course) %> | 
        <%= link_to t('.del_course'), course_path(course), method: :delete %>
      </p>
    </div>
  <% end %>

  <% if @courses.count % 4 != 0 %>
    <% (1..(4 - @courses.count % 4)).each do |empty_block| %>
      <div class="item">
        <h2>
          ---
        </h2>
        <p>
          Por vir...
        </p>
        <p>
          <%= number_to_currency 0, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n' %>
        </p>
        <p>
          ---
        </p>
      </div>
    <% end %>
  <% end %>
</div>
