<p><%= link_to 'Voltar', courses_path %></p>

<%= form_with model: @course do |f| %>

  <p>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_area :description, size: "30x1" %>
  </p>

  <p>
    <%= f.label :code, 'Código' %>
    <%= f.text_field :code %>
  </p>

  <p>
    <%= f.label :price, 'Preço' %>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.label :enrollment_deadline, 'Data limite de matrícula' %>
    <%= f.text_field :enrollment_deadline %>
  </p>

  <p><%= f.submit 'Criar curso' %></p>
<% end %>
