<p><%= link_to t('back'), courses_path %></p>

<% if @course %>
  <h2>
    <%= @course.name %>
  </h2>

  <p>
    <%= @course.description %>
  </p>

  <p>
    <%= @course.code %>
  </p>

  <p>
    <%= number_to_currency @course.price %>
  </p>

  <p>
    <%= I18n.localize(@course.enrollment_deadline) %>
  </p>

  <p>
    <%= link_to t('.edit_course'), edit_course_path(@course) %> | 
    <%= link_to t('.del_course'), course_path(@course), method: :delete %>
  </p>
<% else %>
  <p>
    <%= t('course_not_available') %>
  </p>
<% end %>
