<p><%= link_to 'Voltar', courses_path %></p>

<% if @course %>
  <h2>
    <%= @course.name %>
  </h2>

  <p>
    <%= @course.description %>
  </p>

  <p>
    <%= @course.code %>
  </p>

  <p>
    <%= number_to_currency @course.price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n' %>
  </p>

  <p>
    <%= @course.enrollment_deadline.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <%= link_to 'Editar curso', edit_course_path(@course) %> | 
    <%= link_to 'Apagar curso', course_path(@course), method: :delete %>
  </p>
<% else %>
  <p>
    Oops, curso não disponivel!
  </p>
<% end %>
