<p><%= link_to t('back'), courses_path %></p>

<% if @course %>
  <h2>
    <%= @course.name %>
  </h2>

  <p>
    <%= link_to t('.purchase_course'), '#' %>
  </p>

  <p>
    <%= @course.description %>
  </p>

  <p>
    <%= @course.code %>
  </p>

  <p>
    <%= number_to_currency @course.price %>
  </p>

  <p>
    <%= I18n.localize(@course.enrollment_deadline) %>
  </p>

  <p>
    <%= "#{t('.teacher')}: #{ @course.teacher.name }" %>
  </p>

  <p>
    <%= link_to t('.add_lesson'), new_course_lesson_path(@course) %>
  </p>

  <% if @course.lessons.empty? %>
    <%= t('lessons_not_available') %>
  <% else %>
    <div>
      <% @course.lessons.each do |lesson| %>
        <p>
          <%= link_to lesson.name, course_lesson_path(@course, lesson) %>
        </p>

        <p>
          <%= t('lessons.duration', count: lesson.duration)  %>
        </p>

        <p>
          <%= link_to t('.edit_lesson'), edit_course_lesson_path(@course, lesson) %> |
          <%= link_to t('.del_lesson'), course_lesson_path(@course, lesson), method: :delete %>
        </p>

      <% end %>
    </div>
  <% end%>

  <p>
    <%= link_to t('.edit_course'), edit_course_path(@course) %> | 
    <%= link_to t('.del_course'), course_path(@course), method: :delete %>
  </p>

<% else %>
  <p>
    <%= t('course_not_available') %>
  </p>
<% end %>
